  
.img-resize {
    width: 10em;
  }
  
  .style {
    font-size: 20px;
  }
  
  .jumbo-style {
    background-image: linear-gradient(-225deg,  #15c8ff 0%,#0098d4 48%, #1100fc 100%);
  }
  
  .body-title-style {
    font-size: 25px;
    font-weight: 800;
  }